Package: linux-headers-5.15.67-cmsc421-project3-cawwilkins+
Source: linux-upstream
Version: 5.15.67-cmsc421-project3-cawwilkins+-1
Architecture: amd64
Maintainer: vboxuser <vboxuser@CMSC-421.myguest.virtualbox.org>
Installed-Size: 47219
Section: kernel
Priority: optional
Homepage: https://www.kernel.org/
Description: Linux kernel headers for 5.15.67-cmsc421-project3-cawwilkins+ on amd64
 This package provides kernel header files for 5.15.67-cmsc421-project3-cawwilkins+ on amd64
 .
 This is useful for people who need to build external modules
